@page
@model TNS_KPI.Areas.KPI_Service.Pages.IssueSMSModel
@{
}
<!-- DataTables -->
<link href="~/libs/minible/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/libs/datatables/css/dataTables.min.css" rel="stylesheet" type="text/css" />
<div style="width:100%; margin:-20px 0 0 -20px">
    <div style="padding:5px; font-weight:bold; font-size:13px">
        <a href="~/Index" style="text-decoration:none; color:#4c4c4c">Home</a>
        <span class="uil-angle-double-right"></span>
        <a href="#" style="text-decoration:none; color:#4c4c4c">KPI</a>
        <span class="uil-angle-double-right"></span>
        <a href="~/KPI_Service/Submenu" style="text-decoration:none; color:#4c4c4c">Dịch vụ</a>
        <span class="uil-angle-double-right"></span>
        <span style="color:maroon">SMS </span>
    </div>
</div>
<div class="row mb-2" style="padding-top:10px;">
    <div class="col-12 text-center text-primary" style="font-size:22px; font-weight:bold">
        SMS
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-2">
        <div class="col-12 text-center text-primary" style="font-size:22px; font-weight:bold">
        </div>
    </div>
    <div class="col-md-8 md-3">
        <div class="input-group">
            
            <input id="txt_Search" type="text" class="form-control w-auto" placeholder="Tìm kiếm" aria-label="Tìm kiếm" aria-describedby="button-addon2">
            <button class="btn btn-secondary" onclick="Modal_Selected_Ajax()">
                <i class="fas uil-users-alt"></i>
            </button>
            <select id="MonthView" class="form-select w-sm">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <select id="YearView" class="form-select w-sm">
                @for (int i = 2020; i < 2030; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <select id="StatusView" class="form-select w-sm">
                <option value="None" selected>Status...</option>
                @if (Model.zListSTTS!=null){
                @foreach (string[] zItem in Model.zListSTTS)
                {
                    <option value="@zItem[0]">@zItem[0]</option>
                }}
            </select>
            <button class="btn btn-primary" onclick="btn_Search_Click()">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-success" onclick="ModalShow()">
                Phân tích
            </button>
            <button class="btn btn-secondary" onclick="Modal_Change_Show('','New')">
                <i class="fas uil-user-plus"></i>
            </button>
        </div>
    </div>
    <div class="col-md-2 text-end">
    </div>
</div>
<div style="width:100%;">
    <table id="LV_Datatable" class="table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead id="LV_DataHeader">
        </thead>

        <tbody id="LV_DataBody">
        </tbody>

    </table>
    <div class="row ">
        <div class="col-12 text-center">
            <div id="PageNumberView" class="btn-group me-2" role="group" aria-label="First group">
            </div>
        </div>
    </div>


    <div id="LV_Waiting" style="display:none">
        <div class='text-center'>
            <div class='spinner-border text-primary m-5' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
        </div>
    </div>

</div>

<div>
    <div style="cursor:pointer" onclick="MessageLog_Show()">
        <i class="uil-apple"></i>
    </div>
    <div id="txt_MessageLog" class="row" style="display:none; padding:20px; ">
    </div>
</div>


<div id="Modal_Area">
    <div class="modal fade" id="Modal_Info_Form" tabindex="-1" aria-labelledby="Modal_Info_Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal_Info_Title">Thống kê dữ liệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="Modal_Info_Body" class="mb-3 row">
                        <div style="display:none">
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <table id="Modal_LV_Info" class="table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;font-size:14px">
                                    <thead>
                                        <tr>
                                            <th class="text-center bg-primary text-light align-middle" style="width:200px">pgd</th>
                                            <th class="text-center bg-primary text-light align-middle" style="width:120px"> Tổng cộng </th>
                                        </tr>
                                    </thead>
                                    <tbody id="Modal_LV_Info_Body">
                                    </tbody>
                                </table>
                                <div id="Modal_Info_Waiting" style="display:none">
                                    <div class='text-center'>
                                        <div class='spinner-border text-primary m-1' role='status'>
                                            <span class='sr-only'>Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_Selected_Form" tabindex="-1" aria-labelledby="Modal_Selected_Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_Selected_Title">Chọn nhân viên </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="Modal_Selected_Body" class="mb-3 row">
                    <div style="display:none">
                        <div id="Modal_Selected_lbl_ItemIndex"></div>
                        <div id="Modal_Selected_lbl_ItemKey"></div>
                        <div id="Modal_Selected_lbl_UnitKey"></div>
                    </div>

                </div>
                <div id="Modal_Selected_Panel"></div>
                <div id="Modal_Selected_Waiting" style="display:none">
                    <div class='text-center'>
                        <div class='spinner-border text-primary m-1' role='status'>
                            <span class='sr-only'>Loading...</span>
                        </div>
                    </div>
                </div>
                <div style="display:none" id="Modal_Update_ViewInfo">
                    <div class="input-group mb-2">
                        <span class="input-group-text tns-field-name">Crtusr</span>
                        <input id="Modal_Update_txt_crtusr" type="text" class="form-control" aria-label="crtusr">
                    </div>
                    <div class="input-group mb-2">
                       
                        <label class="input-group-text tns-field-name" for="Modal_Update_sel_PGD">PGD</label>
                        <select class="form-select" id="Modal_Update_sel_PGD">
                            <option value="None" selected>Choose...</option>
                            @if (Model.zListPGD!=null){
                            @foreach (string[] zItem in Model.zListPGD)
                            {
                                <option value="@zItem[0]">@zItem[0]</option>
                            }}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button style="display:none" id="Modal_Update_btn_Save" type="submit" class="btn btn-primary" onclick="Modal_Update_Save()">Save</button>
                <button style="display:none" id="Modal_Update_btn_Del" type="submit" class="btn btn-primary" onclick="Modal_Update_Del()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<!-- Required datatable js -->
<script src="~/libs/jquery/jquery.min.js"></script>
<script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="~/libs/datatables/js/dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        LV_LoadData_Ajax();
    });

    function MessageLog_Show() {
        $("#txt_MessageLog").css("display", "");
    }

</script>

<script>
    var _Data;
    var _PageSelected = "";
    var _PageSize;
    var crtusr, pgd;
    function btn_Search_Click() {
        _PageSelected = "";
        LV_LoadData_Ajax();
    }
    $('#PageNumberView').on('click', function (e) {
        _PageSelected = e.target.id;
        LV_LoadData_Ajax();
    });
    function Modal_Update_Save() {
       crtusr = $("#Modal_Update_txt_crtusr").val();
        pgd = $('#Modal_Update_sel_PGD').find(":selected").val();
        var zDataUpdate = {         
          "crtusr": crtusr,
          "pgd": pgd       
        };
        
        $("#txt_MessageLog").html(JSON.stringify(zDataUpdate));
        
        $.ajax({
            type: 'POST',
            url: "/KPI_Service/IssueSMS?handler=SaveUser",
            data: JSON.stringify(zDataUpdate),
            contentType: "application/json",
            dataType: "json",
        })
        /*
        .done(function (dataResponse) {
              //  $("#txt_Search").val(pgd);
               //    var month = new Date().getMonth() + 1;
               //     $("#MonthView").val(month);
             //  LV_LoadData_Ajax()
            $("#Modal_Update_Waiting").css("display", "none");
            $("#Modal_Update_btn_Save").css("display", "");
        }*/
        //  $("#txt_Search").val(pgd);
        var month = new Date().getMonth() + 1;
        var year = new Date().getFullYear();
        $("#MonthView").val(month);
        $("#YearView").val(year);
        LV_LoadData_Ajax()
        $("#Modal_Selected_Form").modal('hide');
    }
    function Modal_Update_Del(){
        alert(crtusr)
        var zDataDelete = {
            "crtusr": crtusr
        };
        $.ajax({
            type: 'POST',
            url: "/KPI_Service/IssueSMS?handler=Delete1",
            data: JSON.stringify(zDataDelete),
            contentType: "application/json",
            dataType: "json",
        })
            .done(function (dataResponse) {
                $("#txt_Search").val(pgd);
             //   var month = new Date().getMonth() + 1;
            //    $("#MonthView").val(month);
                LV_LoadData_Ajax()
                // Modal_Selected_Ajax();
            })



        $("#Modal_Selected_Form").modal('hide');
    }
    var DataCollectInfo;
    function Modal_Change_Show(Index, Action) {
        //
      //  var zMonthView = $('#MonthView').find(":selected").val();
      //  var zYearView = $('#YearView').find(":selected").val();
      //  var zDataRequest = { "monthView": zMonthView, "yearView": zYearView };
        var zItemKey = "";
       // alert(Index);
      //  $("#Modal_Update_Form").modal('show');

      //  $("#Modal_Selected_Title").text("Thông tin nhân viên");
        $("#Modal_Selected_Form").modal('show');
        $("#Modal_Selected_Waiting").css("display", "");

        $("#Modal_Update_btn_Save").css("display", "none");
        $("#Modal_Update_btn_Del").css("display", "none");
        $("#Modal_Selected_Panel").css("display", "none");
        $("#Modal_Update_ViewInfo").css("display", "none");
        //Modal_Selected_Panel
        switch (Action) {
            case "New":
                var zMonthView = $('#MonthView').find(":selected").val();
                var zYearView = $('#YearView').find(":selected").val();
                var zDataRequest = { "monthView": zMonthView, "yearView": zYearView };
                $("#Modal_Selected_Title").text("Tạo mới User");
                $("#Modal_Update_btn_Save").css("display", "");
                $.ajax({
                    type: 'POST',
                    url: "/KPI_Service/IssueSMS?handler=CreateUser",
                    data: JSON.stringify(zDataRequest),
                    contentType: "application/json",
                    dataType: "json",
                })// chuyen qua ben hàm OnPostGetInfo
                    .done(function (dataResponse) {
                        Modal_DisplayInfo(Index, Action, dataResponse);//thay đổi form điền
                        $("#Modal_Selected_Waiting").css("display", "none");
                       /* $.ajax({
                            type: 'POST',
                            url: "/KPI_Service/IssueSMS?handler=SearchPGD",
                            data: JSON.stringify(zDataRequest),
                            contentType: "application/json",
                            dataType: "json",
                        })
                            .done(function (dataResponse) {
                                DataCollectInfo = dataResponse;
                               // alert(DataCollectInfo);
                               DisplayPGD()
                                
                            })*/

                    })
                break;
        
            case "Del":
                $("#Modal_Selected_Title").text("Bạn có chắc muốn dừng hoạt động của User: " + Index +" khỏi hệ thống ?");
                $("#Modal_Update_btn_Del").css("display", "");
                crtusr = Index;
              //  zItemKey = Index;
                break;
        }

    }
    function DisplayPGD() {
      
    }
    function Modal_DisplayInfo(Index, Action, DataInfo) { 
        
        $("#Modal_Selected_Waiting").css("display", "none");
        $("#Modal_Update_ViewInfo").css("display", "");
    }
    function Modal_Update_Show(Index, Action) {
     //
        var zMonthView = $('#MonthView').find(":selected").val();
        var zYearView = $('#YearView').find(":selected").val();
        var zDataRequest = { "monthView": zMonthView, "yearView": zYearView };

        $("#Modal_Selected_Title").text("Chọn phòng giao dịch để thay đổi trong " + zMonthView + "-" + zYearView);
        $("#Modal_Selected_Form").modal('show');
        $("#Modal_Selected_Waiting").css("display", "");
        $("#Modal_Selected_Panel").css("display", "");
        $("#Modal_Update_ViewInfo").css("display", "none");
        $.ajax({
            type: 'POST',
            url: "/KPI_Service/IssueSMS?handler=SearchPGD",
            data: JSON.stringify(zDataRequest),
            contentType: "application/json",
            dataType: "json",
        })
            .done(function (dataResponse) {
                Modal_DisplayData(dataResponse,'Edit',Index);
                $("#Modal_Selected_Waiting").css("display", "none");
            })
            .fail(function (error) {
                alert('Error : ' + error.responseText);
            });


    }
    function Modal_Selected_Ajax() {
        var zMonthView = $('#MonthView').find(":selected").val();
        var zYearView = $('#YearView').find(":selected").val();
        var zDataRequest = { "monthView": zMonthView, "yearView": zYearView };

        $("#Modal_Selected_Title").text("Chọn phòng giao dịch xem trong " + zMonthView + "-" + zYearView);
        $("#Modal_Selected_Form").modal('show');
        $("#Modal_Selected_Waiting").css("display", "");
        $("#Modal_Selected_Panel").css("display", "");
        $("#Modal_Update_ViewInfo").css("display", "none");
        $.ajax({
            type: 'POST',
            url: "/KPI_Service/IssueSMS?handler=SearchPGD",
            data: JSON.stringify(zDataRequest),
            contentType: "application/json",
            dataType: "json",
        })
            .done(function (dataResponse) {
                Modal_DisplayData(dataResponse,'Search','');
                $("#Modal_Selected_Waiting").css("display", "none");
            })
            .fail(function (error) {
                alert('Error : ' + error.responseText);
            });
    }
    function Modal_DisplayData(dataview,Action,id) {
        var zStyle_RecordView = "";
        //$("#Modal_Selected_Panel").html(JSON.stringify(dataview));
        var n = dataview.length;
        var zContent = "";
        for (i = 0; i < n; i++) {
            zContent += "<div class='row'>";
            zContent += "   <div class='col-12'>";
            zContent += "       <div class='input-group mb-2'>";
            zContent += "           <span class='input-group-text' style='width:120px'> " + dataview[i][0] + "</span>";
            zContent += "           <input type='text' disabled class='form-control' aria-label='' aria-describedby='button-addon2' > ";
            if (Action == 'Edit') {
                zContent += "           <button class='btn btn-primary' onclick='Modal_btn_Edit(\"" + dataview[i][0] + "\",\"" + id + "\")'><i class='uil uil-pen font-size-18'> </i></button>";
            }//else if (Action == 'Del') {
            //    zContent += "           <button class='btn btn-primary' onclick='Modal_btn_Del(\"" + id + "\")'><i class='uil uil-trash-alt font-size-18'> </i> </button>";
            //}
            else {
                zContent += "           <button class='btn btn-primary' onclick='Modal_btn_Click(\"" + dataview[i][0] + "\")'><i class='uil-eye'> </i> </button>";
            }
            zContent += "       </div>";
            zContent += "  </div>";
            zContent += "</div>";
        }
        $("#Modal_Selected_Panel").html(zContent);
    }
  
    function Modal_btn_Edit(pgd, crtusr) {
       // alert(pgd + crtusr)
        var zDataUpdate = {
            "crtusr": crtusr,
            "pgd": pgd
        };
        $.ajax({
            type: 'POST',
            url: "/KPI_Service/IssueSMS?handler=Update1",
            data: JSON.stringify(zDataUpdate),
            contentType: "application/json",
            dataType: "json",
        })
            .done(function (dataResponse) {
                $("#txt_Search").val(pgd);
                var month = new Date().getMonth() + 1;
                $("#MonthView").val(month);
                LV_LoadData_Ajax()
           // Modal_Selected_Ajax();
        })

        

        $("#Modal_Selected_Form").modal('hide');
    }
    function Modal_btn_Click(ID) {

        $("#txt_Search").val(ID);
        $("#Modal_Selected_Form").modal('hide');
    }

    function LV_LoadData_Ajax() {

        $("#LV_Waiting").css("display", "");
        $("#LV_DataBody").html("");
        $("#PageNumberView").html("");

        var zSearchContent = $("#txt_Search").val();
        var zMonthView = $('#MonthView').find(":selected").val();
        var zYearView = $('#YearView').find(":selected").val();
        var zStatusView = $('#StatusView').find(":selected").val();

        var zDataRequest = { "searchContent": zSearchContent, "monthView": zMonthView, "yearView": zYearView, "statusView": zStatusView, "pageSelected": _PageSelected };

        $.ajax({
            type: 'POST',
            url: "/KPI_Service/IssueSMS?handler=LoadData",
            data: JSON.stringify(zDataRequest),
            contentType: "application/json",
            dataType: "json",
        })
            .done(function (dataResponse) {
                $("#txt_MessageLog").html(JSON.stringify(dataResponse));
                _Data = dataResponse;
                LV_DisplayData(dataResponse);
                $("#LV_Waiting").css("display", "none");
            })
            .fail(function (error) {
                alert('Error : ' + error.responseText);
            });
    }
    function LV_DisplayData(dataview) {
        var zContent = "";
        var zHeader = "";
        var zPageTotal, zPageSelectedIndex;
        var zStyle_RecordView = "";

        if (dataview.info.name == "ERROR") {
            $("#txt_MessageLog").html(dataview.info.name);
        }
        else {
            var zPageNumberView = "";
            zPageSelectedIndex = parseInt(dataview.info.pageNumber);
            _PageSize = parseInt(dataview.info.pageSize);

            zPageTotal = parseInt(dataview.info.pageTotal);
            if (zPageTotal > 1) {
                for (i = 1; i <= zPageTotal; i++) {
                    if (zPageSelectedIndex == i)
                        zPageNumberView += "<button id='page" + i + "' type='button' class='btn btn-outline-secondary active'>" + i + "</button>"
                    else
                        zPageNumberView += "<button id='page" + i + "' type='button' class='btn btn-outline-secondary'>" + i + "</button>"
                }
            }
            $("#PageNumberView").html(zPageNumberView);
            var k = 0;
            k = dataview.fieldsName.length;
            zHeader += "<tr style='cursor:pointer'>";
            zHeader += "    <th class='text-center text-light bg-primary align-middle'> STT </th>";
            for (i = 0; i < k; i++) {
                zHeader += "    <th class='text-center text-light bg-primary align-middle'> " + dataview.fieldsName[i] + "</th>";
            }
             //them
            zHeader += "    <th class='text-center text-light bg-primary'></th>";
            zHeader += "</tr>";
            $("#LV_DataHeader").html(zHeader);

            var n = dataview.dataOfTable.length;
            for (i = 0; i < n; i++) {

                zContent += "       <tr style='cursor:pointer'>";
                zContent += "           <td style='" + zStyle_RecordView + "'>";
                zContent += "               <div> " + (((zPageSelectedIndex - 1) * _PageSize) + i + 1) + " </div>";
                zContent += "           </td>";
                for (j = 0; j < k; j++) {
                    zContent += "           <td style='" + zStyle_RecordView + "'>" + dataview.dataOfTable[i][j] + "</td>";
                 
                 
                }
                //them
                zContent += "          <td class='align-middle'>";
                zContent += "               <div class='btn-group mr-2' role='group' aria-label='First group'>";
                zContent += "                   <button class='btn btn-primary' onclick=\"Modal_Update_Show('" + dataview.dataOfTable[i][0] + "','Edit')\">";
                zContent += "                      <i class='uil uil-pen font-size-18'></i></button>";

           
                //zContent += "                   <button class='btn btn-primary' onclick=\"Modal_Change_Show('" + dataview.dataOfTable[i][0] + "','Del')\">";
                //zContent += "                      <i class='uil uil-trash-alt font-size-18'></i>"

                zContent += "               </div>";
                zContent += "            </td>";
                zContent += "            </tr>";
            }

            $("#LV_DataBody").html(zContent);

        }
    }
   
</script>
<script>
    function ModalShow() {
        $("#Modal_Info_Form").modal('show');
        $("#Modal_Info_Waiting").css("display", "");
        Get_AnalyticsData();

    }
    function Get_AnalyticsData() {
        var zMonthView = $('#MonthView').find(":selected").val();
        var zYearView = $('#YearView').find(":selected").val();
        var zStatusView = $('#StatusView').find(":selected").val();

        var zDataRequest = { "monthView": zMonthView, "yearView": zYearView, "statusView": zStatusView };
        $("#Modal_Info_Title").text("Thống kê dữ liệu : SMS " + zMonthView + "-" + zYearView + " " + zStatusView);
        $.ajax({
            type: 'POST',
            url: "/KPI_Service/IssueSMS?handler=GeneralAnalytics",
            data: JSON.stringify(zDataRequest),
            contentType: "application/json",
            dataType: "json",
        })
            .done(function (dataResponse) {
                //$("#txt_MessageLog").html(JSON.stringify(dataResponse));
                AnalyticsByGeneral_Display(dataResponse);
            })
            .fail(function (error) {
                alert('Error : ' + error.responseText);
            });


    }
    function AnalyticsByGeneral_Display(dataview) {
        var zContent = "";
        var zStyle_RecordView = "";

        var n = dataview.length;
        if (n > 0) {
            var k = dataview[0].length;
            for (i = 0; i < n; i++) {

                zContent += "       <tr style='cursor:pointer'>";
                zContent += "           <td style='" + zStyle_RecordView + "'>" + dataview[i][0] + "</td>";
                for (j = 1; j < k; j++) {
                    zContent += "           <td class='text-end' style='" + zStyle_RecordView + "'>" + dataview[i][j] + "</td>";
                }
                zContent += "       </tr>";
            }
        }
        $("#Modal_LV_Info_Body").html(zContent);
        $("#Modal_Info_Waiting").css("display", "none");
    }


</script>
